* {
    margin : 0; 
    padding : 0;
    box-sizing : border-box;
}

body {
    background : linear-gradient(to right, rgba(0, 149, 255, 0.341), rgba(0, 149, 255, 0.787));
    font-family: 'Oswald', sans-serif;
    overflow-x : hidden;
    overflow-y : hidden;
    position : relative;
}

.score_interface {
    position : absolute;
    width : 100vw;
    height : 7vh;
    background-color : rgb(62, 59, 59);
    color : white;
    /* margin-top : -10vh; */
    top : 0;
    display : flex;
    gap : 50px;
    align-items : center;
    z-index : 10;
    font-weight : 400;
}
.score_interface .putting_chance {
    margin-left : 100px;
    font-size : 22px;
}
.score_interface .putting_chance .text {
    color : yellow;
}
.score_interface .putting_chance .chance_number {
    margin-left : 20px;
    color : white;
}
.score_interface .ball_distance {
    font-size : 22px;
}
.score_interface .ball_distance .text {
    color : skyblue;
}
.score_interface .ball_distance .distance_number {
    color : white;
    margin-left : 20px;
}
.score_interface .tip {
    position : absolute;
    font-size : 22px;
    /* margin-left : 200px; */
    right : 100px;
}
.score-interface .tip .text {
    /* margin-left : 20px; */
}

.score_interface .tip {
    visibility : hidden; 
}

.score_interface .tip .text {
    color : lightgreen;
}

.score_interface .tip.on {
    visibility : visible; 
}

.score_interface .tip .tip_contents {
    margin-left : 20px;
    letter-spacing : .5px;
    color : rgb(255, 81, 0);
}


.user_interface {
    width : 100vw;
    height : 60px;
    background : linear-gradient(to top, rgb(184, 152, 24), gold);
    /* transform : translateY(90vh); */
    bottom : 0;
    /* border-top : 1px solid gray; */
    box-sizing: border-box;
    position : absolute;
    z-index : 10;
    display : flex;
    align-items : center;
}

.user_interface .tower_name {
    font-weight : 900;
    font-size : 27px;
    position : absolute;
    /* top : 17px; */
    /* left : 50px; */
    letter-spacing : 0px;
    /* background-image : linear-gradient(to bottom, rgb(255, 98, 0),white); */
    background-color : rgba(24, 186, 89, 0.568);
    /* background-clip : text; */
    /* color : transparent; */
    /* color : rgb(0, 0, 0); */
    width : 15%;
    left : 0;
    height : 100%;
    text-align : center;
    color : rgb(8, 54, 36);
    border-right : 1px solid gray;
    box-sizing : border-box;
    display : flex;
    justify-content: center;
    align-items: center;
}

.user_interface .current_floor {
    position : absolute;
    font-weight : 700;
    font-size : 24px;
    /* top : 19px; */
    left : 260px;
    letter-spacing : 0px;
    color : rgb(4, 24, 41);
    width : 20%;
    height : 100%;
    background-color :rgba(212, 9, 9, 0.339);
    left : 15%;
    text-align : center;
    border-right : 1px solid gray;
    box-sizing : border-box;
    display : flex;
    justify-content: center;
    align-items: center;
}

.user_interface .gauge_bar {
    width : 300px;
    height : 30px;
    background : linear-gradient(to right, rgba(219, 19, 19, 0.198), rgba(219,19,19,1));
    position : absolute;
    border : 2px solid black;
    border-radius : 10px;
    box-sizing : border-box;
    /* top : 17px; */
    left : calc(50vw - 150px);
    overflow : hidden;
}   
.user_interface .gauge_bar .gauge {
    width : 5px;
    height : 30px;
    background-color : yellow;
    transition : 2s;
    transition-timing-function: linear;
    animation-name : gaugemove;
    animation-duration : 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.user_interface .gauge_bar .gauge.stop {
    animation-name : none;
}
.user_interface .btn_group {
    position : absolute;
    /* top : 17px; */
    right : 0;
    display : flex;
    justify-content: center;
    align-items : center;
    gap : 10px;
    /* background-color : rgba(148, 202, 23, 0.532); */
    border-left : 1px solid gray;
    height : 100%;
    width : 35%;
}
.user_interface .btn_group button {
    width : 100px;
    height : 30px;
    box-sizing: border-box;
    outline : none;
    cursor : pointer;
    background-color : white;
    border : 3.5px solid orange;
    border-radius : 20px;
    box-shadow: 2.5px 2.5px rgba(212, 9, 9, 0.601);
    font-family: 'Bungee Spice', sans-serif;
    font-size : 18px;
    font-weight : 700;
    word-spacing : 5px;
    display : flex;
    justify-content: center;
    align-items: center;
    letter-spacing : -1px;
    transition : .2s;
}
.user_interface .btn_group button .text {
    transform : translateY(1px);
}
.user_interface .btn_group button:last-child {
    /* background-color : rgb(191, 194, 185); */
}
.user_interface .btn_group button:hover {
    /* background-color : rgba(255, 166, 0, 0.336); */
    font-size : 21px;
    font-weight : 700;
}

@keyframes gaugemove {
    0% {
        transform : translateX(0);
    }
    50% {
        transform : translateX(300px);
    }
    100% {
        transform : translateX(0);
    }
}

.ball {
    position : absolute;
    width : 20px;
    height : 20px;
    background-color : white;
    border-radius : 10px;
    border : 1px solid black;
    top : calc(80vh + 20px);
    left : 25vw;
    box-sizing: border-box;
    transition-property : translate;
    transition : 2s;
    transition-timing-function: linear;
    z-index : 5;
}


.tower {
    width : 70vw;
    height : 10000px;
    margin : 0 auto;
    margin-top : 67vh;
    box-sizing : border-box;
    background : none;
    transition : 1.5s;
    /* position : relative; */
}
.tower .rooftop {
    height : 60px;
    background-color : transparent;
    border-left : 5px solid rgba(254, 252, 252, 0.462);
    border-right : 5px solid rgba(254, 252, 252, 0.462);
    border-bottom : 30px solid rgba(135, 207, 235, 0.441);
    /* box-sizing : border-box; */
    position : relative;
    /* background-image : url("https://waifu2x.udp.jp/api"); */
    background-size : 100%;
    background-repeat : no-repeat;
}
.tower .rooftop .hole {
    width : 30px;
    background-color : white;
    height : 30px;
    position : absolute;
    top : 60px;
    right : 10%;
    z-index : 1;
}
.tower .rooftop .floor {
    width : calc(100% + 10px);
    height : 30px;
    position : absolute;
    left : -5px;
    top : 60px;
    background-color : rgb(43, 196, 74);
    border-top : 5px solid rgb(20, 176, 78);
    border-left : 10px solid #1052bd;
    border-right : 10px solid #1052bd;
    box-sizing: border-box;
}
.tower .rooftop .flag img {
    height : 50px;
    position : absolute;
    right : calc(10% - 15px);
    top : 10px;
}

.tower .floor-100 {
    height : 350px;
    background-color : white !important;
    border-left : 10px solid #1052bd;
    border-right : 10px solid #1052bd;
    border-bottom : 0px solid rgba(221, 210, 210, 0.735);
    position : relative;
    background-image : url("../images/skylounge.png");
    background-size : 895px 350px;
    background-repeat : repeat;
}
.tower .floor-100 .hole {
    width : 30px;
    background-color : white;
    height : 30px;
    position : absolute;
    top : 350px;
    left : 15%;
    z-index : 1;
}
.tower .floor-100 .floor {
    width : calc(100%);
    height : 30px;
    position : absolute;
    left : -10px;
    top : 350px;
    background-color: rgba(213, 200, 23, 0.261);
    border : 0px solid white;
    /* box-sizing: border-box; */
    border-left : 10px solid #87878d;
    border-right : 10px solid #87878d;
    z-index : 1;
}

.tower .floor-99 {
    height : 300px;
    background-color : white;
    border-left : 10px solid #1052bd;
    border-right : 10px solid #1052bd;
    /* border-bottom : 15px solid rgba(218, 25, 25, 0.735); */
    position : relative;
    background-image : url("../images/skycafe.png");
    background-size : 895px 300px;
}
.tower .floor-99 .hole {
    width : 30px;
    background-color : white;
    height : 30px;
    position : absolute;
    top : 300px;
    left : 40%;
}
.tower .floor-99 .floor {
    width : calc(100%);
    height : 30px;
    position : absolute;
    left : -10px;
    top : 300px;
    background-color: rgba(218, 25, 25, 0.735);
    border-left : 10px solid #87878d;
    border-right : 10px solid #87878d;
    /* box-sizing: border-box; */
}

.tower .floor-98 {
    height : 300px;
    background-color : white;
    border-left : 10px solid #1052bd;
    border-right : 10px solid #1052bd;
    /* border-bottom : 15px solid rgba(218, 25, 25, 0.735); */
    position : relative;
    background-image : url("../images/skycafeteria.png");
    background-size : 895px 300px;
    margin-top : 30px;
}
.tower .floor-98 .hole {
    width : 30px;
    background-color : white;
    height : 30px;
    position : absolute;
    top : 300px;
    left : 90%;
}
.tower .floor-98 .floor {
    width : calc(100%);
    height : 30px;
    position : absolute;
    left : -10px;
    top : 300px;
    background-color: burlywood;
    border-left : 10px solid #87878d;
    border-right : 10px solid #87878d;
    /* box-sizing: border-box; */
}

.tower .floor-97 {
    height : 300px;
    background-color : white;
    border-left : 10px solid #1052bd;
    border-right : 10px solid #1052bd;
    /* border-bottom : 15px solid rgba(218, 25, 25, 0.735); */
    position : relative;
    background-image : url("../images/skygarden.png");
    background-size : 100% 300px;
    margin-top : 30px;
}
.tower .floor-97 .hole {
    width : 30px;
    background-color : white;
    height : 30px;
    position : absolute;
    top : 300px;
    left : 33%;
}
.tower .floor-97 .floor {
    width : calc(100%);
    height : 30px;
    position : absolute;
    left : -10px;
    top : 300px;
    background-color: rgb(20, 147, 126);
    border-left : 10px solid #87878d;
    border-right : 10px solid #87878d;
    /* box-sizing: border-box; */
}

.tower .floor-96 {
    height : 300px;
    background-color : white;
    border-left : 10px solid #1052bd;
    border-right : 10px solid #1052bd;
    /* border-bottom : 15px solid rgba(218, 25, 25, 0.735); */
    position : relative;
    background-image : url("../images/skyhotel.png");
    background-size : 100% 300px;
    background-repeat : no-repeat;
    margin-top : 30px;
}
.tower .floor-96 .hole {
    width : 30px;
    background-color : white;
    height : 30px;
    position : absolute;
    top : 300px;
    left : 80%;
}
.tower .floor-96 .floor {
    width : calc(100%);
    height : 30px;
    position : absolute;
    left : -10px;
    top : 300px;
    background-color: rgb(151, 16, 129);
    border-left : 10px solid #87878d;
    border-right : 10px solid #87878d;
    /* box-sizing: border-box; */
}

.tower .floor-95 {
    height : 300px;
    background-color : white;
    border-left : 10px solid #1052bd;
    border-right : 10px solid #1052bd;
    /* border-bottom : 15px solid rgba(218, 25, 25, 0.735); */
    position : relative;
    background-image : url("../images/playground.png");
    background-size : 100% 300px;
    background-repeat : no-repeat;
    margin-top : 30px;
}
.tower .floor-95 .hole {
    width : 30px;
    background-color : white;
    height : 30px;
    position : absolute;
    top : 300px;
    left : 13%;
}
.tower .floor-95 .floor {
    width : calc(100%);
    height : 30px;
    position : absolute;
    left : -10px;
    top : 300px;
    background-color: orange;
    border-left : 10px solid #87878d;
    border-right : 10px solid #87878d;
    /* box-sizing: border-box; */
}

.tower .floor-94 {
    height : 300px;
    background-color : white;
    border-left : 10px solid #1052bd;
    border-right : 10px solid #1052bd;
    /* border-bottom : 15px solid rgba(218, 25, 25, 0.735); */
    position : relative;
    background-image : url("../images/oceanpark.png");
    background-size : 100% 300px;
    background-repeat : no-repeat;
    margin-top : 30px;
}
.tower .floor-94 .hole {
    width : 30px;
    background-color : white;
    height : 90px;
    position : absolute;
    top : 300px;
    right : 3%;
}
.tower .floor-94 .water {
    width : 76.3%;
    height : 90px;
    position : absolute;
    left : -10px;
    /* top : 300px; */
    /* transform : translateY(300px); */
    background: linear-gradient(to bottom, rgba(133, 197, 225, 0.532), rgb(133, 197, 225, 1));
    border-left : 10px solid #87878d;
    border-bottom : 15px solid #F5E9BE;
    box-sizing : border-box;
    z-index : 10;
}
.tower .floor-94 .water .borderleftgrey {
    width : 10px;
    background-color : #87878d;
    height : 90px;
    margin-left : -10px;
}
.tower .floor-94 .water .borderleftblue {
    width : 10px;
    background-color : #1052bd;
    height : 75px;
    margin-left : -10px;
    margin-top : -90px;
}
.tower .floor-94 .land {
    width : calc(25%);
    height : 90px;
    position : absolute;
    /* left : -10px; */
    right : -10px;
    top : 300px;
    background-color: #F5E9BE;
    /* border-left : 10px solid #87878d; */
    border-right : 10px solid #87878d;
    /* box-sizing: border-box; */
    /* border-top-left-radius: 100px; */
    /* z-index : 11; */
}
.tower .floor-94 .land .landforcover {
    width : 80px;
    height : 75px;
    position : absolute;
    top : 0px;
    right : 210px;
    background-color: #F5E9BE;
    border-top-left-radius: 80px;
    z-index : 11;
}
.tower .floor-94 .ducktube {
    position : absolute;
    top : 217px;
    /* animation-name : duckmove; */
    animation-timing-function: linear;
    animation-duration : 7.5s;
    animation-fill-mode : forwards;
    animation-iteration-count : 1;
}
.tower .floor-94 .ducktube img {
    width : 100px;
}
.waterforopacity-oceanpark {
    width : 660px;
    height : 75px;
    position : absolute;
    left : -5px;
    /* top : 308.5px; */
    top : 330px;
    background-color: rgba(133, 197, 225, 0.532);
    /* border-left : 10px solid #87878d; */
    /* border-bottom : 15px solid #F5E9BE; */
    box-sizing : border-box;
    z-index : 6;
    transform : translate(200px,201px);
    display : none;
    /* top : 500px;
    left : 200px; */
}
.waterforopacity-oceanpark.on {
    display : block;
}
.waterforopacity-oceanpark .landforcover {
    width : 80px;
    height : 75px;
    position : absolute;
    top : 0px;
    right : 0px;
    background-color: #F5E9BE;
    border-top-left-radius: 80px;
    z-index : 11;
}

@keyframes duckmove {
    0% {
        transform : translateX(0);
    }
    100% {
        transform : translateX(620px);
    }
}

.tower .floor-93 {
    height : 300px;
    background-color : white;
    border-left : 10px solid #1052bd;
    border-right : 10px solid #1052bd;
    /* border-bottom : 15px solid rgba(218, 25, 25, 0.735); */
    position : relative;
    background-image : url("../images/spa.png");
    background-size : 100% 300px;
    background-repeat : no-repeat;
    margin-top : 90px;
}
.tower .floor-93 .hole {
    width : 30px;
    background-color : white;
    height : 46px;
    position : absolute;
    top : 300px;
    left : 80%;
}
.tower .floor-93 .floor {
    width : calc(100%);
    height : 46px;
    position : absolute;
    left : -10px;
    top : 300px;
    background-color: #c2d2d3;
    border-left : 10px solid #87878d;
    border-right : 10px solid #87878d;
    /* box-sizing: border-box; */
}
.tower .floor-93 .floor .water {
    width : 50%;
    height : 31px;
    background : linear-gradient(to bottom, rgba(144, 238, 144, 0.7), rgba(0, 128, 0, 0.9));
    position : absolute;
    z-index : 10;
    left : 26%;
}
.tower .floor-93 .floor .water.off {
    display : none;
}
.tower .floor-93 .floor .borderleft {
    width : 10px;
    height : 46px;
    position : absolute;
    background-color : #87878d;
    left : -10px;
    /* top : -31px; */
}
.tower .floor-93 .floor .borderright {
    width : 10px;
    height : 46px;
    position : absolute;
    background-color : #87878d;
    right : -10px;
    /* top : -31px; */
}
.waterforopacity-spa {
    width : 34.6%;
    height : 31px;
    background : linear-gradient(to bottom, rgba(144, 238, 144, 0.7), rgba(0, 128, 0, 0.9));
    /* background-color : rgba(219, 20, 20, 0.723); */
    position : absolute;
    z-index : 10;
    left : 33.4%;
    bottom : calc(10vh + 13px);
    display : none;
}
.waterforopacity-spa.on {
    display : block;
}

.tower .floor-92 {
    height : 300px;
    background-color : white;
    border-left : 10px solid #1052bd;
    border-right : 10px solid #1052bd;
    /* border-bottom : 15px solid rgba(218, 25, 25, 0.735); */
    position : relative;
    background-image : url("../images/winebar.png");
    background-size : 100% 300px;
    background-repeat : no-repeat;
    margin-top : 45px;
}
.tower .floor-92 .hole {
    width : 30px;
    background-color : white;
    height : 30px;
    position : absolute;
    top : 300px;
    left : 25%;
}
.tower .floor-92 .floor {
    width : calc(100%);
    height : 30px;
    position : absolute;
    left : -10px;
    top : 300px;
    background-color: rgba(135, 80, 21, 0.807);
    border-left : 10px solid #87878d;
    border-right : 10px solid #87878d;
    /* box-sizing: border-box; */
}

.tower .floor-91 {
    height : 300px;
    background-color : white;
    border-left : 10px solid #1052bd;
    border-right : 10px solid #1052bd;
    /* border-bottom : 15px solid rgba(218, 25, 25, 0.735); */
    position : relative;
    /* background-image : url("../images/winebar.png"); */
    background-size : 100% 300px;
    background-repeat : no-repeat;
    margin-top : 30px;
}
.tower .floor-91 .hole {
    width : 30px;
    background-color : white;
    height : 30px;
    position : absolute;
    top : 300px;
    left : 90%;
}
.tower .floor-91 .floor {
    width : calc(100%);
    height : 30px;
    position : absolute;
    left : -10px;
    top : 300px;
    background-color: rgba(0, 0, 0, 0.807);
    border-left : 10px solid #87878d;
    border-right : 10px solid #87878d;
    /* box-sizing: border-box; */
}